<div class="d-flex align-items-center text-center py-2">
  <div class="w-100 m-auto m-md-5 px-3 px-md-5">  
    <h1 class="h3 mb-4 fw-bold">Please sign up</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="mb-2 mx-md-5">
        <%= f.input :name, required: true, autofocus: true %>
      </div>
      <div class="mb-2 mx-md-5">
        <%= f.input :email, required: true, input_html: { autocomplete: "email" }, class: "form-control" %>
      </div>
      <div class="mb-2 mx-md-5">
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="mb-2 mx-md-5">
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="btn btn-primary">
        <%= f.button :submit, "Sign up", class: "text-light fw-normal" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>