<h1>Categories</h1>
<ul class="nav d-flex justify-content-around">
    <li class="nav-item">
      <%= link_to 'My Shopping List', items_path %>
    </li>
    <li class="nav-item">
      <%= link_to 'Uncategorized Items', uncategorized_items_path %>
    </li>
    <li class="nav-item">
      <%= link_to 'All Categories', groups_path %>
    </li>
</ul>
<div>
  <ul>
    <% @group.each do |group| %>
      <li class="list-unstyled px-5">
          <h3>Name: </h3>
          <%= group.name %>
          <br><br>
          <div class="image">
            <img src="<%= group.icon %>" class="img-fluid img-thumbnail">
          </div>
          <h4>Items: </h4>
          <%= group.items.count %>
        <br><br>
      </li>
    <% end %>
    <%= link_to 'New Group', new_group_path %>
  </ul>
</div>
