<%= render 'shared/nav' %>
<h1>Categories</h1>
<div>
  <ul>
    <% @group.each do |group| %>
      <li class="list-unstyled px-5">
          <h6>Name: </h6>
          <%= group.name %>
          <br><br>
          <div class="image">
            <img src="<%= group.icon %>" class="img-fluid img-thumbnail">
          </div>
          <h6>Items: </h6>
          <%= group.items.count %>
        <br><br>
      </li>
    <% end %>
    <%= link_to 'New Category', new_group_path, class: "d-flex justify-content-center btn btn-primary" %>
  </ul>
</div>
