<%= render 'shared/nav' %>
<div class="d-flex align-items-center text-center py-2">
  <div class="w-100 m-auto m-md-5 px-3 px-md-5">  
    <h2 class="h3 mb-4 fw-bold">New Category</h2>
    <%= simple_form_for @group do |f| %>
      <div class="mb-3 mx-md-5">
        <%= f.input :name, required: false, autofocus: true %>
      </div>
      <div class="mb-4 mx-md-5">
        <%= f.label :icon, "Upload icon" %>
        <%= f.input :icon,  as: :file, required: false, label: false, class: "upload" %>
      </div>
      <div class="btn btn-primary">
        <%= f.button :submit, "Add Category", class: "text-light fw-normal" %>
      </div>
    <% end %>
  </div>
</div>