<div>
  <div class="d-flex flex-column align-items-center mt-4">  
    <%= gravatar_image_tag(current_user.email, alt: 'Profile Picture', class: ' rounded rounded-circle my-4 ') %>
    <%= @user.name %>
  </div>
  <ul class="nav d-flex flex-column pt-5">
      <li class="nav-item pb-2">
        <i class="fas fa-shopping-basket text-primary border border-1 rounded-circle p-2"></i>
        <%= link_to 'My Shopping List', items_path, class: "ps-2 text-decoration-none" %>
        <p class="ms-5 border-bottom pt-2"></p>
      </li>
      <li class="nav-item pb-2">
        <i class="fas fa-list text-primary border border-1 rounded-circle p-2"></i>
        <%= link_to 'Uncategorized Items', uncategorized_items_path, class: "ps-3 text-decoration-none" %>
        <p class="ms-5 border-bottom pt-2"></p>
      </li>
      <li class="nav-item pb-2">
        <i class="fas fa-layer-group text-primary border border-1 rounded-circle p-2"></i>
        <%= link_to 'All Categories', groups_path, class: "ps-3 text-decoration-none" %>
        <p class="ms-5 border-bottom pt-2"></p>
      </li>
      <li class="nav-item">
        <i class="fas fa-sign-out-alt text-primary border border-1 rounded-circle p-2"></i>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "ps-3 text-decoration-none" %>
        <p class="ms-5 border-bottom pt-2"></p>
      </li>
  </ul>
</div>