<div>
  <div class="d-flex flex-column align-items-center mt-5">  
    <%= gravatar_image_tag(current_user.email, alt: 'Profile Picture', class: ' rounded rounded-circle my-4 ') %>
    <%= @user.name %>
  </div>
  <ul class="nav d-flex flex-column">
      <li class="nav-item">
        <%= link_to 'My Shopping List', items_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Uncategorized Items', uncategorized_items_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'All Categories', groups_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      </li>
  </ul>
</div>