<%= simple_form_for @item do |f| %>
      <div class="mb-3 mx-md-5">
        <%= f.input :name, required: false, autofocus: true %>
      </div>
      <div class="mb-4 mx-md-5">
        <%= f.input :amount, required: false %>
      </div>
      <div class="mb-4 mx-md-5">
        <%= f.association :group, collection: Group.order(:name), prompt: "Choose a Category" %>
      </div>
      <div class="btn btn-primary">
        <%= f.button :submit, "Add Item", class: "text-light fw-normal" %>
      </div>
<% end %>