<%= render 'shared/nav' %>
<h3>Items</h3>
<div class="d-flex">
  <ul>
   <h5>Total Amount: </h5>
   <%= @amount_sum %>
   <h4>Total number of items on my list: </h4>
   <%= @item.count %>
    <% @item.each do |item| %>
      <li class="list-unstyled px-5">
          <h3>Name: </h3>
          <%= item.name %>
          <br><br>
          <h4>Amount: </h4>
          <%= item.amount %>
        <br><br>
      </li>
    <% end %>
    <%= link_to 'New Item', new_item_path, class: "d-flex justify-content-center btn btn-primary" %>
  </ul>
</div>
