<h1>Items</h1>
<ul class="nav d-flex justify-content-around">
    <li class="nav-item">
      <%= link_to 'My Shopping List', items_path %>
    </li>
    <li class="nav-item">
      <%= link_to 'Ungrouped Items', groups_path %>
    </li>
    <li class="nav-item">
      <%= link_to 'All Categories', groups_path %>
    </li>
</ul>
<div>
  <ul>
   <h3>Total Amount: </h3>
   <%= @amount_sum %>
    <% @item.each do |item| %>
      <li class="list-unstyled px-5">
          <h3>Name: </h3>
          <%= item.name %>
          <br><br>
          <h4>Amount: </h4>
          <%= item.amount %>
        <br><br>
      </li>
    <% end %>
    <%= link_to 'New Item', new_item_path %>
  </ul>
</div>
