<%= render 'shared/nav' %>
<h1>Items</h1>
<div>
  <ul>
   <h3>Total Amount: </h3>
   <%= @amount_sum %>
   <h3>Total number of items uncategorized: </h3>
   <%= @uncategorized.count %>
    <% @uncategorized.each do |uncategorized| %>
      <li class="list-unstyled px-5">
          <h3>Name: </h3>
          <%= uncategorized.name %>
          <br><br>
          <h4>Amount: </h4>
          <%= uncategorized.amount %>
        <br><br>
      </li>
    <% end %>
    <%= link_to 'New Item', new_item_path, class: "d-flex justify-content-center" %>
  </ul>
</div>
