<%= render 'shared/nav' %>
<h3>Items</h3>
<div class="pb-3">
  <div class="bg-light d-flex justify-content-between p-1 mb-2">
    <p>Total Amount: </p>
    <p><b>$<%= @amount_sum %></b></p>
  </div>
  <div class="bg-light d-flex justify-content-between p-1">
    <p>Total number of uncategorized items: </p>
    <%= @uncategorized.count %>
  </div>
  <div class="list-group">
    <% @uncategorized.each do |uncategorized| %>
      <div class="list-group-item d-flex justify-content-between mt-2">
        <div class="d-flex">
          <div>
            <img src="https://via.placeholder.com/120" class="img-thumbnail">
          </div>
          <div class="ms-3 mt-3">
            <p class="py-3"><%= uncategorized.name %></p>
            <span class="text"><%= uncategorized.created_at.strftime("%d %b %Y") %></span>
          </div>
        </div>
        <div class="text-end">
          <p class="py-3"><b>$<%= uncategorized.amount %></b></p>
        <div>
        <div>
          <%= link_to 'Remove Item', uncategorized, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </div>
      </div><br>
    <% end %>
  </div>
</div>
<%= link_to 'New Item', new_item_path, class: "d-flex justify-content-center btn btn-primary position-fixed bottom-0 start-50 translate-middle-x w-75" %>
