<%= render 'shared/nav' %>
<h1>Items</h1>
<div>
  <div class="bg-light d-flex justify-content-between p-1 mb-2">
    <p>Total Amount: </p>
    <%= @amount_sum %>
  </div>
  <div class="bg-light d-flex justify-content-between p-1">
    <p>Total number of items uncategorized: </p>
    <%= @uncategorized.count %>
  </div>
  <ul>
    <% @uncategorized.each do |uncategorized| %>
      <li class="list-unstyled px-5">
          <h6>Name: </h6>
          <%= uncategorized.name %>
          <br><br>
          <h6>Amount: </h6>
          <%= uncategorized.amount %>
        <br><br>
      </li>
    <% end %>
    <%= link_to 'New Item', new_item_path, class: "d-flex justify-content-center btn btn-primary" %>
  </ul>
</div>
