<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://pro.fontawesome.com/releases/v5.10.0/css/all.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
      <% if notice %>
        <p class="notice alert-success p-3"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning p-3"><%= alert %></p>
      <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
